html {
    font-size: 62.5%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: radial-gradient($color-blue-darker, $color-blue-dark);
    font-family: $font-family;
    height: 96vh;
    text-transform: uppercase;
    color: linen;
}