@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;900&display=swap');
$color-blue-dark: #182548;
$color-blue-darker: #2b2a3b;
$color-blue-lighter: #413f59;
$color-blue-darkest: #201f2c;
$color-white: #e9e7e7;
$disabled-grey: #b6b6b6;
$font-family: 'Noto Sans JP';
$border-radius: 10px;