%game-button {
    cursor: pointer;
    border: none;
    background-color: $color-violet;
    padding: 1rem 4rem;
    border-radius: $border-radius;
    color: $color-white;
    margin: .25rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: .8rem;
    transition: all .5s ease;
    &:hover {
        transform: translateY(-.8px);
    }
}

.game-buttons {
    display: flex;
    flex-direction: column;
    &--start {
        @extend %game-button;
    }
    &--new {
        @extend %game-button;
    }
    &--rules {
        @extend %game-button;
        background-color: transparent;
        color: $color-white;
        border: 1px solid $color-white;
    }
    &--play_again {
        @extend %game-button;
        background-color: transparent;
        color: $color-white;
        border: 1px solid $color-white;
    }
}

.container-controls {
    margin-top: 2rem;
    &--container {
        height: 20rem;
        width: 20rem;
        border-radius: 50%;
    }
    &--button {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        cursor: pointer;
        transition: all .5s ease;
        &:hover {
            transform: translateY(-5px);
            background-color: $color-violet;
        }
    }
}

.container-results {
    text-align: center;
    &--container {
        height: 20rem;
        width: 20rem;
        border-radius: 50%;
    }
    &--button {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        transition: all .5s ease;
        box-shadow: 5px 10px 5px 0px $color-blue-lighter inset;
        -webkit-box-shadow: 5px 10px 5px 0px $color-blue-lighter inset;
        -moz-box-shadow: 5px 10px 5px 0px $color-blue-lighter inset;
    }
    &--heading {
        margin-bottom: 4rem;
        font-style: italic;
    }
}

.container-pending {
    text-align: center;
    &--container {
        height: 20rem;
        width: 20rem;
        border-radius: 50%;
    }
    &--button {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        transition: all .5s ease;
        box-shadow: 5px 10px 5px 0px $color-blue-lighter inset;
        -webkit-box-shadow: 5px 10px 5px 0px $color-blue-lighter inset;
        -moz-box-shadow: 5px 10px 5px 0px $color-blue-lighter inset;
    }
    &--heading {
        margin-bottom: 4rem;
        font-style: italic;
    }
}

.result-winner {
    font-size: 4rem;
}

.paper {
    border: 2.5rem yellow solid;
}

.rock {
    border: 2.5rem hsl(0, 100%, 50%) solid;
}

.scissors {
    border: 2.5rem cyan solid;
}