.loader {
    border: 16px solid $color-purple-darker;
    border-top: 16px solid $color-purple-light;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    z-index: 5000;
    position: fixed;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%);
    &-bg {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        z-index: 4000;
        @include background-gradient;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}