.modal {
    position: fixed;
    z-index: 3000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    @include background-gradient;
    border-radius: 10px;
    &-overlay {
        height: 100vh;
        ;
        width: 100vw;
        position: fixed;
        z-index: 2000;
        background-color: rgba(17, 17, 17, .8);
        top: 0;
        left: 0;
    }
    &-heading {
        @include heading;
    }
    & form {
        display: flex;
        flex-direction: column;
        & input {
            padding: 1rem 1.75rem;
            @include box-shadow($color-purple-dark);
            background-color: $color-purple-light;
            border-radius: 5px;
            margin: 2rem 0rem;
            text-align: center;
            color: whitesmoke;
            &::placeholder {
                color: rgba(245, 245, 245, 0.753);
            }
        }
        & button {
            margin-top: 1rem;
            cursor: pointer;
            padding: 1rem 1.75rem;
            @include box-shadow($color-purple-darker);
            background-color: $color-purple-dark;
            border-radius: 5px;
            color: $color-yellow;
            border: none;
            text-transform: uppercase;
            font-family: $font-family;
            font-weight: 900;
            letter-spacing: 1.5px;
            width: 60%;
            align-self: center;
        }
    }
}

// .modal {
//     background-color: $color-white;
//     position: fixed;
//     z-index: 3000;
//     position: absolute;
//     left: 50%;
//     top: 50%;
//     transform: translate(-50%, -50%);
//     width: 80%;
//     height: 60%;
//     overflow: auto;
//     align-items: center;
//     justify-content: center;
//     border-radius: $border-radius;
//     &-overlay {
//         position: relative;
//         top: 0;
//         left: 0;
//         height: 99vh;
//         width: 99vw;
//         z-index: 2000;
//         background-color: rgba(17, 17, 17, .8);
//     }
//     &-content-img {
//         height: 100%;
//         width: 100%;
//     }
//     &-close {
//         color: $color-blue-lighter;
//         font-size: 4rem;
//         padding: 1rem;
//         position: absolute;
//         top: 0;
//         right: 0;
//         cursor: pointer;
//     }
// }