    @media only screen and (max-width: 600px) {
        .wrapper {
            padding: .5rem 1.5rem;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            justify-content: center;
            &-bg {
                display: flex;
                flex-direction: column-reverse!important;
            }
        }
        .heading {
            @include heading;
            margin-bottom: .5rem;
            font-size: 5rem;
            @include text-shadow;
            -webkit-text-stroke: 1px violet;
            &-sub {
                line-height: 0;
                margin-bottom: 6rem;
            }
        }
        .score {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .game {
            &-selection {
                &-start {
                    height: 10rem;
                    width: 10rem;
                    margin: 2rem .5rem;
                }
            }
        }
        .options {
            display: flex;
            align-items: center;
            justify-content: center;
            &-lg {
                p {
                    display: none;
                }
            }
            & button {
                width: 7rem;
                height: 7rem;
                border: .25rem dashed $color-purple-dark;
            }
            &-selected {
                border: .25rem dashed $color-purple-light!important;
            }
            & img {
                max-width: 100%;
                max-height: 100%;
            }
        }
        .result {
            padding: 1rem;
        }
    }
    
    @media only screen and (min-width: 600px) {
        .wrapper {
            display: grid;
            padding: 2rem 1.5rem;
            grid-template-rows: auto 5% 60% 5% auto;
            min-height: 70vh;
            width: 95%;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            &-bg {
                display: grid;
                grid-template-columns: 20% 60% 20%;
            }
        }
        .heading {
            @include heading;
            font-size: 5rem;
            @include text-shadow;
            -webkit-text-stroke: 1px violet;
        }
        .score {
            &-lg {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
            }
        }
        .game {
            &-selection {
                &-start {
                    height: 18rem;
                    width: 18rem;
                }
            }
            &-vs {
                @include text-shadow;
                -webkit-text-stroke: 1px violet;
                font-size: 4rem;
            }
        }
        .options {
            &-lg {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                p {
                    text-align: center;
                    color: #f99ae0d0;
                    font-family: $font-family;
                    font-size: 1rem;
                    font-weight: 700;
                    letter-spacing: 1.2;
                }
            }
            & button {
                width: 10rem;
                height: 10rem;
                border: .5rem dashed $color-purple-dark;
            }
            &-selected {
                border: .5rem dashed $color-purple-light!important;
            }
            & img {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
    
    // GENERAL
    .heading {
        &-sub {
            text-align: center;
            font-weight: 700;
            color: $color-purple-light;
            &::before {
                content: " ------ "
            }
            &::after {
                content: " ------ "
            }
        }
    }
    
    .score {
        width: 100%;
        padding: 0rem 1rem;
        text-align: center;
        &-name {
            color: white;
            font-size: 3rem;
            text-transform: uppercase;
        }
        &-value {
            font-size: 8rem;
            line-height: 1;
            color: white;
            -webkit-text-stroke: 1px grey;
            font-weight: 900;
            @include text-shadow;
        }
    }
    
    .game {
        display: grid;
        grid-template-columns: 40% 20% 40%;
        align-items: center;
        text-align: center;
        &-selection {
            & img {
                max-width: 100%;
            }
        }
        &-vs {
            @include heading;
        }
    }
    
    .options {
        padding: 1rem;
        & button {
            border: 1px solid $color-purple-dark;
            @include box-shadow($color-purple-darker);
            background: #e9ecef50;
            display: flex;
            align-items: center;
            padding: .5rem;
            margin: .75rem .5rem;
            border-radius: 10px;
            cursor: pointer;
        }
        &-start-pulse {
            animation-name: pulse;
            animation-timing-function: linear;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
            &:hover {
                transform: translateY(5px);
                transform: scale(1.05);
                border: .5rem dashed $color-purple-light;
            }
        }
    }
    
    .result {
        text-align: center;
        font-size: 1.6rem;
        color: #f99ae0d0;
    }
    
    // Animations
    @keyframes hover {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-6px);
        }
        100% {
            transform: translateY(0);
        }
    }
    
    @keyframes pulse {
        0% {
            transform: scale(1.0);
            -webkit-transform: scale(1.0);
        }
        50% {
            transform: scale(1.05);
            -webkit-transform: scale(1.05);
        }
        100% {
            transform: scale(1.0);
            -webkit-transform: scale(1.0);
        }
    }