    @media only screen and (max-width: 600px) {
        .wrapper {
            padding: .5rem 1.5rem;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            justify-content: center;
            &-bg {
                display: flex;
                flex-direction: column-reverse!important;
            }
        }
        .heading {
            @include heading;
            margin-bottom: .5rem;
            font-size: 5rem;
            @include text-shadow;
            -webkit-text-stroke: 1px violet;
            &-sub {
                color: $color-purple-light;
                text-align: center;
                font-weight: 700;
                line-height: 0;
                margin-bottom: 6rem;
                &::before {
                    content: " ------ "
                }
                &::after {
                    content: " ------ "
                }
            }
        }
        .score {
            display: flex;
            width: 100%;
            padding: 0rem 1rem;
            text-align: center;
            align-items: center;
            justify-content: space-between;
            &-name {
                color: white;
                font-size: 3rem;
                text-transform: uppercase;
            }
            &-value {
                font-size: 8rem;
                line-height: 1;
                color: white;
                -webkit-text-stroke: 1px grey;
                font-weight: 900;
                @include text-shadow;
            }
        }
        .game {
            display: grid;
            grid-template-columns: 40% 20% 40%;
            align-items: center;
            text-align: center;
            &-selection {
                & img {
                    max-width: 100%;
                }
                &-start {
                    height: 10rem;
                    width: 10rem;
                    margin: 2rem .5rem;
                }
            }
            &-vs {
                @include heading;
            }
        }
        .options {
            padding: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            &-lg {
                p {
                    display: none;
                }
            }
            & button {
                width: 7rem;
                height: 7rem;
                border: 1px solid $color-purple-dark;
                border: .25rem dashed $color-purple-dark;
                @include box-shadow($color-purple-darker);
                background: #e9ecef50;
                display: flex;
                align-items: center;
                padding: .5rem;
                margin: .75rem .5rem;
                border-radius: 10px;
                cursor: pointer;
            }
            &-start-pulse {
                animation-name: pulse;
                animation-timing-function: linear;
                animation-duration: 1.5s;
                animation-iteration-count: infinite;
                &:hover {
                    transform: translateY(5px);
                    transform: scale(1.05);
                    border: .5rem dashed $color-purple-light;
                }
            }
            &-selected {
                border: .25rem dashed $color-purple-light!important;
            }
            & img {
                max-width: 100%;
                max-height: 100%;
            }
        }
        .result {
            text-align: center;
            font-size: 2rem;
            color: #f99ae0d0;
            padding: 1rem;
        }
    }
    
    @media only screen and (min-width: 600px) {
        .wrapper {
            display: grid;
            padding: 2rem 1.5rem;
            grid-template-rows: auto 5% 60% 5% auto;
            min-height: 70vh;
            width: 95%;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            &-bg {
                display: grid;
                grid-template-columns: 20% 60% 20%;
            }
        }
        .heading {
            @include heading;
            font-size: 5rem;
            @include text-shadow;
            -webkit-text-stroke: 1px violet;
            &-sub {
                color: $color-purple-light;
                text-align: center;
                font-weight: 700;
                &::before {
                    content: " ------ "
                }
                &::after {
                    content: " ------ "
                }
            }
        }
        .score {
            width: 100%;
            padding: 0rem 1rem;
            text-align: center;
            &-lg {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
            }
            &-name {
                color: white;
                font-size: 3rem;
                text-transform: uppercase;
            }
            &-value {
                font-size: 8rem;
                line-height: 1;
                color: white;
                -webkit-text-stroke: 1px grey;
                font-weight: 900;
                @include text-shadow;
            }
        }
        .game {
            display: grid;
            grid-template-columns: 40% 20% 40%;
            align-items: center;
            text-align: center;
            &-selection {
                & img {
                    max-width: 100%;
                }
                &-start {
                    height: 18rem;
                    width: 18rem;
                }
            }
            &-vs {
                @include heading;
                @include text-shadow;
                -webkit-text-stroke: 1px violet;
                font-size: 4rem;
            }
        }
        .options {
            padding: 1rem;
            &-lg {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                p {
                    text-align: center;
                    color: #f99ae0d0;
                    font-family: $font-family;
                    font-size: 1rem;
                    font-weight: 700;
                    letter-spacing: 1.2;
                }
            }
            & button {
                width: 10rem;
                height: 10rem;
                // border: 1px solid $color-purple-light;
                // border: .5rem dashed $color-purple-light;
                border: 1px solid $color-purple-dark;
                border: .5rem dashed $color-purple-dark;
                @include box-shadow($color-purple-darker);
                background: #e9ecef50;
                display: flex;
                align-items: center;
                padding: .5rem;
                margin: .75rem .5rem;
                border-radius: 10px;
                cursor: pointer;
            }
            &-start-pulse {
                animation-name: pulse;
                animation-timing-function: linear;
                animation-duration: 1.5s;
                animation-iteration-count: infinite;
                &:hover {
                    transform: translateY(5px);
                    transform: scale(1.05);
                    border: .5rem dashed $color-purple-light;
                }
            }
            &-selected {
                border: .5rem dashed $color-purple-light!important;
            }
            & img {
                max-width: 100%;
                max-height: 100%;
            }
        }
        .result {
            text-align: center;
            font-size: 2rem;
            color: #f99ae0d0;
        }
    }
    
    @keyframes hover {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-6px);
        }
        100% {
            transform: translateY(0);
        }
    }
    
    @keyframes pulse {
        0% {
            transform: scale(1.0);
            -webkit-transform: scale(1.0);
        }
        50% {
            transform: scale(1.05);
            -webkit-transform: scale(1.05);
        }
        100% {
            transform: scale(1.0);
            -webkit-transform: scale(1.0);
        }
    }
    
    // END 
    // .container {
    //     position: absolute;
    //     top: 50%;
    //     left: 50%;
    //     height: 98%;
    //     width: 90%;
    //     transform: translate(-50%, -50%);
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     &-score {
    //         margin: 0%!important;
    //         width: 60%;
    //         border-radius: $border-radius;
    //         display: flex;
    //         justify-content: space-between;
    //         align-items: center;
    //         font-size: 2rem;
    //         line-height: 50%;
    //         border: $color-blue-lighter .5px solid;
    //         padding: 0rem 4rem;
    //         box-shadow: 5px 5px 5px 0px $color-blue-darkest;
    //         -webkit-box-shadow: 5px 5px 5px 0px $color-blue-darkest;
    //         -moz-box-shadow: 5px 5px 5px 0px $color-blue-darkest;
    //         &--scores {
    //             padding: 0rem 6rem;
    //             text-align: center;
    //             background-color: $color-white;
    //             margin: 2rem;
    //             color: $color-blue-darker;
    //             border-radius: $border-radius;
    //             box-shadow: 5px 5px 5px 0px $color-blue-lighter;
    //             -webkit-box-shadow: 5px 5px 5px 0px $color-blue-lighter;
    //             -moz-box-shadow: 5px 5px 5px 0px $color-blue-lighter;
    //         }
    //         &--score {
    //             font-size: 6rem;
    //         }
    //         &--heading {
    //             text-shadow: $shadow 1px 1px, $shadow 2px 2px, $shadow 3px 3px, $shadow 4px 4px, $shadow 5px 5px, $shadow 6px 6px;
    //         }
    //     }
    //     &-controls {
    //         width: 80%;
    //         height: 100%;
    //         display: flex;
    //         flex-direction: column;
    //         justify-content: center;
    //         align-items: center;
    //         &--double {
    //             width: 70%;
    //             display: flex;
    //             justify-content: space-between;
    //         }
    //         &--single {
    //             margin-top: 4rem;
    //         }
    //     }
    //     &-results {
    //         &--container {
    //             transition: all .8s ease-in;
    //         }
    //     }
    //     &-pending {
    //         width: 70%;
    //         height: 100%;
    //         display: flex;
    //         justify-content: space-between;
    //         align-items: center;
    //         display: none;
    //     }
    // }
    // .animate-score {
    //     -webkit-animation-name: pop;
    //     animation-name: pop;
    //     -webkit-animation-duration: 2s;
    //     animation-duration: 2s;
    // }